:root {
  --primary-color: #242424;
  --secondary-color: #e2e2e2;
  --background-color: #cecece;
  --text-color: #213547;
  --button-bg-color: var(--primary-color);
  --theme-toggle-bg: var(--secondary-color);
  --theme-toggle-color: var(--primary-color);
  --card-outline-color: var(--primary-color);
  --card-bg-color: var(--secondary-color);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --primary-color: #e2e2e2;
  --secondary-color: #2c2c2c;
  --background-color: #242424;
  --text-color: var(--primary-color);
  --button-bg-color: var(--secondary-color);
  --theme-toggle-bg: #3a3a3a;
  --theme-toggle-color: var(--primary-color);
  --card-outline-color: var(--primary-color);
  --card-bg-color: var(--secondary-color);
}

body {
  margin: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  border-radius: 10px;
  border: 2px solid transparent;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  cursor: pointer;
  transition:
    border-color 0.2s,
    background-color 0.2s;
}

button:hover {
  border-color: var(--primary-color);
}

.theme-toggle {
  background: var(--theme-toggle-bg);
  color: var(--theme-toggle-color);
  width: 3rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
